 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 .uls{
    display: flex;
    color: #D6EBEE;
    margin-top: 10PX;
 }

 .favourite{
    width: 50%;
    background-color: #CCABD8;
    
 }
 .search{
    
    background-color: #08979D;
    width: 50%;
   
 }

 .header{
    padding-left: 15px;
    background-color: #6EC6CA;
    color: #8474A1;
    font-family: "Montserrat Alternates", sans-serif;;
 }

 .title{
    margin: 15PX;
    color:#08979D;
    font-family: "Urbanist", sans-serif;
 }

 .form{
    padding-left: 15px;
 }


 .favs{
border-radius: 25px;
border-color: #8474A1 ;

 }